* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
h1 {
    padding-top: 15px;
}

.posts {
    display: flex;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.myPostCard {
    width: 100%;
}

.deleteBtn {
    width: 150px;
    height: 30px;
    background-color: rgb(202, 12, 12);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.myForm {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
}

.post-enter {
    opacity: 0;
  }
  .post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

.page__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.page {
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    width: 35px;
    text-align: center;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.page__current {
    border: 1px solid white;
    width: 35px;
    background-color: orange;
    font-weight: bold;
    border-radius: 3px;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0;
    background-color:teal;
}

.navbar__links {
    text-decoration: none;
}

h2 {
    padding-bottom: 20px;
}

.post-page {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    align-content: center;
}

.comments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.comment {
    width: 293px;
    border: 1px solid teal;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.header-text {
    height: max-content;
    border-bottom: 1px solid teal;
    padding: 10px 5px;
}
.comment-body {
    padding: 5px;
}

.login-page, .register-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    margin-bottom: 20px;
}

.divdiv {
    background: red;
    height: 20px;
}